@forward "globals";

@mixin horizontal-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

@mixin icon($side: 24px) {
  width: $side;
  height: $side;
  background: white;
}

@mixin avatar() {
  @include icon;
  background: grey;
  border-radius: 50%;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: minmax(min-content, 250px) auto;
  grid-template-rows: 180px auto;
  background: hsl(255, 3%, 96%);
}

.sidebar {
  grid-row: 1 / -1;

  display: grid;
  grid-auto-rows: min-content;
  gap: 50px;

  padding-inline: 24px;

  background: white;
  z-index: 2;
  // background: #3839e0;
}

.header {
  display: grid;
  gap: 8px;
  align-items: center;
  background: white;

  &__top {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
  }

  &__bottom {
    display: grid;
    gap: 8px;
    grid-template-columns: auto auto;
  }

  /* elevation / ultralight */
  box-shadow: 0px 2px 2px rgba(28, 5, 77, 0.05),
    0px 12px 8px rgba(0, 0, 0, 0.02);

  &__notification-bell {
    @include icon();
    background: grey;
  }

  padding: 24px;

  &__top-right {
    grid-area: 1 / 2 / 1 / -1;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}

.profile-info {
  @include horizontal-item();

  &__avatar {
    @include avatar;
  }
}

.big-profile-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 64px auto;
  gap: 8px;
  &__avatar {
    align-self: end;
    @include avatar;
    width: 64px;
    height: 64px;
    grid-row: 1 / -1;
  }
  &__greeting {
    align-self: end;
  }
}

.project-options {
  align-self: end;
  justify-self: end;
  @include horizontal-item();
  &__button {
    padding-block: 8px;
    padding-inline: 24px;
    border: 1px solid black;
    border-radius: 16px;
  }
}

.main-content {
  display: grid;
  grid-template-columns: auto minmax(200px, 300px);

  gap: 24px;

  position: relative;
  z-index: -1; // for box shadow of header

  padding: 24px;

  &__right {
    align-self: stretch;
    display: grid;
    gap: 24px;
    grid-template-rows: 1fr 1fr;
  }
}

.search {
  max-width: 75ch;
  @include horizontal-item();
  &__icon {
    @include icon();
    background: grey;
  }
  &__bar {
    background: hsl(255, 0%, 96%);
    height: 32px;
    flex: 1;
    border-radius: 8px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__item {
    @include horizontal-item();
  }

  &__icon {
    @include icon();
  }
}

.logo {
  @include horizontal-item();

  padding-top: 24px;

  &__image {
    @include icon(36px);
  }
}

.projects {
  display: grid;
  gap: 16px;
  grid-template-rows: min-content 1fr;

  &__heading {
    font-weight: bold;
    font-size: 20px;
  }

  &__cards {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.card {
  display: grid;
  gap: 24px;

  max-width: 60ch;

  background: white;
  border-left: inset 8px black;
  border-radius: 8px;

  padding: 32px 24px;

  &__heading {
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
  }

  .icons {
    justify-self: end;
    @include horizontal-item();
    gap: 12px;
    &__icon {
      @include icon();
    }
  }

  /* elevation / light */

  box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
    0px 12px 32px rgba(0, 0, 0, 0.05);
}

.announcements,
.trending {
  display: flex;
  flex-direction: column;

  gap: 16px;

  &__heading {
    font-weight: bold;
    font-size: 20px;
  }
  &__card {
    flex: 1;
    background: white;
    border-radius: 8px;

    /* elevation / light */
    box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
      0px 12px 32px rgba(0, 0, 0, 0.05);
  }
}
