:root {
  --fontSize-1: 1rem;
  --fontSize-2: 1.125rem;
  --fontSize-3: 1.75rem;
  --fontSize-4: 2rem;
  --fontSize-5: 2.25rem;
  --fontWeight-0: 200;
  --fontWeight-1: 400;
  --fontWeight-2: 600;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--txt-grey);
}

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

:root {
  --space-1: 16px;
  --space-2: 36px;
  --space-3: 45px;
  --space-4: 60px;
  --space-5: 181px;
  --space-6: 200px;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  color: inherit;
  border: 0;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: minmax(-webkit-min-content, 250px) auto;
  grid-template-columns: minmax(min-content, 250px) auto;
  grid-template-rows: 180px auto;
  background: hsl(255deg, 3%, 96%);
}

.sidebar {
  grid-row: 1/-1;
  display: grid;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  gap: 50px;
  padding-inline: 24px;
  background: white;
  z-index: 2;
}

.header {
  display: grid;
  gap: 8px;
  align-items: center;
  background: white;
  /* elevation / ultralight */
  box-shadow: 0px 2px 2px rgba(28, 5, 77, 0.05), 0px 12px 8px rgba(0, 0, 0, 0.02);
  padding: 24px;
}
.header__top {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}
.header__bottom {
  display: grid;
  gap: 8px;
  grid-template-columns: auto auto;
}
.header__notification-bell {
  width: 24px;
  height: 24px;
  background: white;
  background: grey;
}
.header__top-right {
  grid-area: 1/2/1/-1;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 8px;
}
.profile-info__avatar {
  width: 24px;
  height: 24px;
  background: white;
  background: grey;
  border-radius: 50%;
}

.big-profile-info {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 64px auto;
  gap: 8px;
}
.big-profile-info__avatar {
  align-self: end;
  width: 24px;
  height: 24px;
  background: white;
  background: grey;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  grid-row: 1/-1;
}
.big-profile-info__greeting {
  align-self: end;
}

.project-options {
  align-self: end;
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 8px;
}
.project-options__button {
  padding-block: 8px;
  padding-inline: 24px;
  border: 1px solid black;
  border-radius: 16px;
}

.main-content {
  display: grid;
  grid-template-columns: auto minmax(200px, 300px);
  gap: 24px;
  position: relative;
  z-index: -1;
  padding: 24px;
}
.main-content__right {
  align-self: stretch;
  display: grid;
  gap: 24px;
  grid-template-rows: 1fr 1fr;
}

.search {
  max-width: 75ch;
  display: flex;
  align-items: center;
  gap: 8px;
}
.search__icon {
  width: 24px;
  height: 24px;
  background: white;
  background: grey;
}
.search__bar {
  background: hsl(255deg, 0%, 96%);
  height: 32px;
  flex: 1;
  border-radius: 8px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.menu__item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.menu__icon {
  width: 24px;
  height: 24px;
  background: white;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 24px;
}
.logo__image {
  width: 36px;
  height: 36px;
  background: white;
}

.projects {
  display: grid;
  gap: 16px;
  grid-template-rows: -webkit-min-content 1fr;
  grid-template-rows: min-content 1fr;
}
.projects__heading {
  font-weight: bold;
  font-size: 20px;
}
.projects__cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  display: grid;
  gap: 24px;
  max-width: 60ch;
  background: white;
  border-left: inset 8px black;
  border-radius: 8px;
  padding: 32px 24px;
  /* elevation / light */
  box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1), 0px 12px 32px rgba(0, 0, 0, 0.05);
}
.card__heading {
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 18px;
}
.card .icons {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 8px;
  gap: 12px;
}
.card .icons__icon {
  width: 24px;
  height: 24px;
  background: white;
}

.announcements,
.trending {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.announcements__heading,
.trending__heading {
  font-weight: bold;
  font-size: 20px;
}
.announcements__card,
.trending__card {
  flex: 1;
  background: white;
  border-radius: 8px;
  /* elevation / light */
  box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1), 0px 12px 32px rgba(0, 0, 0, 0.05);
}/*# sourceMappingURL=style.css.map */