// Media queries

:root {
  --sm: 550px;
  --md: 750px;
  --lg: 905px;
}

@mixin small {
  @media only screen and (max-width: var(--sm)) {
    @content;
  }
}

@mixin medium {
  @media only screen and (max-width: var(--md)) {
    @content;
  }
}

@mixin large {
  @media only screen and (max-width: var(--lg)) {
    @content;
  }
}

// Spacing

:root {
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 45px;
  --space-8: 64px;
}

// Colors

:root {
  --primary: hsl(215, 91%, 50%);
  --accent: hsl(339, 100%, 46%);

  --icons-dark: hsl(215, 50%, 16%);

  --dark-muted-1: hsl(0, 0%, 8%);
  --dark-muted-2: hsl(0, 0%, 16%);

  --white-muted-1: hsl(215, 16%, 96%);
  --white-muted-2: hsl(215, 50%, 96%);
  --white-muted-3: hsl(215, 16%, 85%);

  --white-highlight: hsl(0, 0%, 100%);
}

// Typography

:root {
  --fontSize-1: 0.875rem; // 14 px @ 100% font-size
  --fontSize-2: 1rem; // 16 px @ 100% font-size
  --fontSize-3: 1.125rem; // 18 px
  --fontSize-4: 1.25rem; // 20 px;
  --fontSize-5: 1.5rem; // 24 px
  --fontSize-6: 1.75rem; // 28 px
  --fontSize-7: 2rem; // 32 px
  --fontSize-8: 2.25rem; // 36 px

  --fontWeight-1: 200;
  --fontWeight-2: 400;
  --fontWeight-3: 500;
  --fontWeight-4: 600;
  --fontWeight-5: 700;
  --fontWeight-6: 800;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&display=swap");

:root {
  --font: "Inter";
}
