@forward "globals";

@import "~@mdi/font/css/materialdesignicons.min.css";

@mixin icon($side: var(--fontSize-150)) {
  font-size: $side;
}

@mixin horizontal-item($gap: var(--space-100)) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin avatar($size: var(--space-500)) {
  width: $size;
  height: $size;

  background: url("../assets/profilePic.jpg");
  background-size: cover;
  object-fit: cover;

  border-radius: 50%;
}

@mixin elevation--ultra-light() {
  box-shadow: 0px 2px 2px rgba(28, 5, 77, 0.05),
    0px 12px 8px rgba(0, 0, 0, 0.02);
}

@mixin elevation--light() {
  box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
    0px 12px 32px rgba(0, 0, 0, 0.05);
}

body {
  display: grid;
  grid-template-columns: minmax(min-content, 250px) auto;
  grid-template-rows: min-content auto;

  background: var(--white-muted-100);
}

// Sidebar

.sidebar {
  grid-row: 1 / -1;

  display: grid;
  grid-auto-rows: min-content;
  gap: var(--space-400);

  padding-inline: var(--space-300);

  background: var(--primary);
  color: var(--white-muted-50);

  font-weight: var(--fontWeight-1);
  font-size: var(--fontSize-125);

  z-index: 2; // to be above box shadow of header
}

.logo {
  @include horizontal-item(0px);
  color: white;

  padding-top: var(--space-400);

  &__text {
    font-weight: var(--fontWeight-40);
    font-size: var(--fontSize-150);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: var(--space-300);
  margin-bottom: var(--space-200);

  &__item {
    @include horizontal-item();
  }

  &__icon {
    font-weight: var(--fontWeight-30);
    @include icon(var(--fontSize-150));
  }
}

// Header

.header {
  display: grid;
  align-items: center;
  gap: var(--space-400);

  background: var(--white-highlight);
  &__top {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--space-300);
    align-items: center;
  }

  &__top-right {
    @include horizontal-item(var(--space-300));

    grid-area: 1 / 2 / 1 / -1;
    justify-content: flex-end;
  }

  &__bottom {
    display: grid;
    grid-template-columns: auto auto;
    gap: var(--space-300);
  }

  @include elevation--ultra-light();

  &__notification-bell {
    @include icon();
    color: var(--icons-dark);
  }

  padding: var(--space-400) clamp(var(--space-100), 3%, var(--space-400));
}

.search {
  @include horizontal-item();

  &__icon {
    @include icon();
    color: var(--icons-dark);
  }
  &__bar {
    flex: 1;

    height: var(--space-400);

    max-width: 100%;

    background: var(--white-muted-50);
    border-radius: 16px;
  }
}

// Profile info

.profile-info {
  &--horizontal {
    @include horizontal-item(var(--space-200));
    &__avatar {
      @include avatar;
    }
    &__name {
      font-weight: var(--fontWeight-25);
      color: var(--icons-dark);
    }
  }
  &--vertical {
    display: grid;
    grid-template-rows: auto auto;

    &__avatar {
      grid-row: 1 / -1;
      align-self: end;
    }

    &__topText {
      align-self: end;
    }

    // Small

    &.small {
      grid-template-columns: var(--space-500) auto;
      row-gap: var(--space-50);
      column-gap: var(--space-100);
    }

    &.small &__avatar {
      @include avatar();
      align-self: center;
    }

    &.small &__topText,
    &.small &__bottomText {
      font-size: var(--fontSize-50);
    }

    &.small &__topText {
      font-weight: var(--fontWeight-25);
    }

    &.small &__bottomText {
      color: var(--dark-muted);
    }

    // Big

    &.big {
      grid-template-columns: 64px auto;
      column-gap: var(--space-200);
    }

    &.big &__avatar {
      @include avatar(64px);
    }

    &.big &__bottomText {
      font-size: var(--fontSize-150);
      font-weight: var(--fontWeight-25);
      color: var(--dark-muted);
    }
  }
}

// End profile info

.project-options {
  align-self: end;
  justify-self: end;
  @include horizontal-item();
  &__button {
    padding-block: var(--space-100);
    padding-inline: var(--space-300);
    border-radius: 16px;
    font-weight: var(--fontWeight-25);
    background: var(--accent);
    color: var(--white-highlight);
  }
}

.main-content {
  display: grid;
  grid-template-columns: auto minmax(200px, 300px);
  height: min-content;

  gap: var(--space-300);

  position: relative;
  z-index: -1; // for box shadow of header

  padding: var(--space-300);

  &__right {
    grid-template-rows: auto auto;
    align-self: start;
    align-items: start;
    display: grid;
    gap: var(--space-300);
  }
}

.projects {
  display: grid;
  gap: var(--space-200);
  grid-template-rows: min-content 1fr;

  &__heading {
    font-weight: 500;
    font-size: var(--fontSize-125);
  }

  &__cards {
    display: grid;
    gap: var(--space-300);
    grid-template-rows: repeat(auto-fit, minmax(min-content, 250px));
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.card {
  display: grid;
  gap: var(--space-300);

  max-width: 60ch;

  background: var(--white-highlight);
  border-left: solid 8px var(--accent);
  border-radius: 8px;

  padding: var(--space-300) var(--space-300);

  &__heading {
    padding-bottom: var(--space-50);
    font-weight: bold;
    font-size: var(--fontSize-112);
  }

  &__text {
    color: var(--dark-muted-40);
  }

  .icons {
    justify-self: end;
    @include horizontal-item();
    gap: var(--space-150);
    &__icon {
      @include icon();
      font-size: var(--fontSize-125);
      color: var(--icons-dark);
    }
  }

  @include elevation--light();
}

.announcements,
.trending {
  display: grid;

  grid-template-rows: min-content min-content;

  gap: var(--space-200);

  &__heading {
    font-weight: var(--fontWeight-25);
    font-size: var(--fontSize-125);
  }
  &__cards {
    padding: var(--space-400) clamp(var(--space-100), 8%, var(--space-300));

    display: grid;
    gap: var(--space-300);
    grid-template-rows: 1fr 1fr 1fr;

    background: var(--white-highlight);
    border-radius: 8px;

    @include elevation--light();
  }
}

.announcement {
  display: flex;
  flex-direction: column;
  gap: var(--space-50);

  align-self: center;

  &__heading {
    font-weight: var(--fontWeight-35);
    font-size: 16px;
  }

  &__text {
    font-size: var(--fontSize-50);
    color: var(--dark-muted-40);
  }
}

.announcement:nth-child(even) {
  border-bottom: 1px solid var(--white-muted-150);
  border-top: 1px solid var(--white-muted-150);
  padding-block: var(--space-300);
}
