@forward "globals";

@import "~@mdi/font/css/materialdesignicons.min.css";

@mixin icon($side: 24px) {
  font-size: $side;
}

@mixin horizontal-item($gap: 8px) {
  display: flex;
  align-items: center;
  gap: $gap;
}

@mixin avatar($size: 40px) {
  width: $size;
  height: $size;

  background: url("../assets/profilePic.jpg");
  background-size: cover;
  object-fit: cover;

  border-radius: 50%;
}

body {
  display: grid;
  grid-template-columns: minmax(min-content, 250px) auto;
  grid-template-rows: min-content auto;

  background: hsl(215, 50%, 96%);
}

// Sidebar

.sidebar {
  grid-row: 1 / -1;

  display: grid;
  grid-auto-rows: min-content;
  gap: 32px;

  padding-inline: 24px;

  color: hsl(0, 0%, 96%);

  background: hsl(215, 91%, 50%);
  font-weight: 400;
  font-size: 20px;

  z-index: 2; // to be above box shadow of header
}

.logo {
  @include horizontal-item(0px);
  color: white;

  padding-top: 32px;

  &__image {
    @include icon(36px);
  }

  &__text {
    font-weight: 800;
    font-size: 24px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 16px;

  &__item {
    @include horizontal-item();
  }

  &__icon {
    font-weight: 600;
    @include icon(24px);
  }
}

// Header

.header {
  display: grid;
  align-items: center;
  gap: 32px;

  background: white;

  &__top {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
    align-items: center;
  }

  &__top-right {
    @include horizontal-item(24px);

    grid-area: 1 / 2 / 1 / -1;
    justify-content: flex-end;
  }

  &__bottom {
    display: grid;
    grid-template-columns: auto auto;
    gap: 24px;
  }

  /* elevation / ultralight */
  box-shadow: 0px 2px 2px rgba(28, 5, 77, 0.05),
    0px 12px 8px rgba(0, 0, 0, 0.02);

  &__notification-bell {
    @include icon();
    color: hsl(215, 50%, 16%);
  }

  padding: 32px clamp(8px, 3%, 32px);
}

.search {
  @include horizontal-item();

  &__icon {
    @include icon();
    color: hsl(215, 50%, 16%);
  }
  &__bar {
    flex: 1;

    height: 32px;

    max-width: 100%;

    border: 1px solid hsl(215, 16%, 90%);

    background: hsl(215, 16%, 96%);
    border-radius: 16px;
  }
}

// Profile info

.profile-info {
  &--horizontal {
    @include horizontal-item(16px);
    &__avatar {
      @include avatar;
    }
    &__name {
      font-weight: 500;
      color: hsl(0, 0%, 16%);
    }
  }
  &--vertical {
    display: grid;
    grid-template-rows: auto auto;
    column-gap: 16px;

    &__avatar {
      grid-row: 1 / -1;
      align-self: end;
    }

    &__topText {
      align-self: end;
    }

    // Small

    &.small {
      grid-template-columns: 40px auto;
      row-gap: 4px;
    }

    &.small &__avatar {
      @include avatar();
      align-self: center;
    }

    &.small &__topText,
    &.small &__bottomText {
      font-size: 14px;
    }

    &.small &__topText {
      font-weight: 500;
    }

    &.small &__bottomText {
      color: hsl(0, 0%, 8%);
    }

    // Big

    &.big {
      grid-template-columns: 64px auto;
    }

    &.big &__avatar {
      @include avatar(64px);
    }

    &.big &__bottomText {
      font-size: 24px;
      font-weight: 500;
      color: hsl(0, 0%, 16%);
    }
  }
}

// End profile info

.project-options {
  align-self: end;
  justify-self: end;
  @include horizontal-item();
  &__button {
    padding-block: 8px;
    padding-inline: 24px;
    border-radius: 16px;
    font-weight: 500;
    background: var(--accent);
    color: white;
  }
}

.main-content {
  display: grid;
  grid-template-columns: auto minmax(200px, 300px);

  gap: 24px;

  position: relative;
  z-index: -1; // for box shadow of header

  padding: 24px;

  &__right {
    align-self: start;
    align-items: start;
    display: grid;
    gap: 24px;
  }
}

.projects {
  display: grid;
  gap: 16px;
  grid-template-rows: min-content 1fr;

  &__heading {
    font-weight: 500;
    font-size: 20px;
  }

  &__cards {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

.card {
  display: grid;
  gap: 24px;

  max-width: 60ch;

  background: white;
  border-left: solid 8px #eb0052;
  border-radius: 8px;

  padding: 24px 24px;

  &__heading {
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 18px;
  }

  &__text {
    color: hsl(0, 0%, 8%);
  }

  .icons {
    justify-self: end;
    @include horizontal-item();
    gap: 12px;
    &__icon {
      @include icon();
      font-size: 20px;
    }
  }

  /* elevation / light */

  box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
    0px 12px 32px rgba(0, 0, 0, 0.05);
}

.announcements,
.trending {
  display: grid;

  grid-template-rows: min-content min-content;

  gap: 16px;

  &__heading {
    font-weight: 500;
    font-size: 20px;
  }
  &__cards {
    padding: 32px clamp(8px, 8%, 24px);

    display: grid;
    gap: 24px;
    grid-template-rows: 1fr 1fr 1fr;

    background: white;
    border-radius: 8px;

    /* elevation / light */
    box-shadow: 0px 2px 4px rgba(28, 5, 77, 0.1),
      0px 12px 32px rgba(0, 0, 0, 0.05);
  }
}

.announcement {
  display: flex;
  flex-direction: column;
  gap: 4px;

  align-self: center;

  &__heading {
    font-weight: 700;
    font-size: 16px;
  }

  &__text {
    font-size: 14px;
    color: hsl(0, 0%, 8%);
  }
}

.announcement:nth-child(even) {
  border-bottom: 1px solid hsl(0, 0%, 85%);
  border-top: 1px solid hsl(0, 0%, 85%);
  padding-block: 24px;
}
